@import "tailwindcss";


* {
  font-family: "Outfit";
}

.bg-darkTheme {
  background-color: #11001f;
}

.bg-lightHover {
  background-color: #fcf4ff;
}

.bg-darkHover {
  background-color: #2a004a;
}

.font-Outfit {
  font-family: "Outfit", sans-serif;
}
.font-Ovo {
  font-family: "Ovo", serif;
}

.boxShadowBlack {
  box-shadow: 4px 4px 0px #000;
}

.boxShadowWhite {
  box-shadow: 4px 4px 0px #FFF;
}

.gridTemplate {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}